.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, #a0d7e7, #6c5dd3);
  margin: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.heard {
  position: absolute;
  display: flex;
  top: 35%;
  width: 30%;
  padding-top: 0.6%;
}

.title {
  width: 100%;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  color: #151830;
}

.login-card {
  width: 30%;
  height: 35%;
  background: #f2f3f7;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 5%;
}

.login-form {
  width: 50%;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}
